.content {
    display: flex;
    justify-content: center;
}

.Card {

    width: 600px;
    height: 500px;
    background: var(--glass);
    border-radius: 10px;
    box-shadow: 0px 1px 10px 1px black;
}

.image-container img {
    margin: 0 0 3rem 0;

}

