
.row1 {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    margin: 10px 10vw; 
    flex-direction: row;
  }


  // tracuu.scss

table {
    width: 100%;
    border-collapse: collapse;
    margin: auto;
  }
  
  thead {
    background-color: #efb0c9; 
  }
  
  th, td {
    border: 1px solid #696767; 
    padding: 8px; 
    text-align: left; 
  }
  
  td {
    font-weight: normal;
  }
  