.list {
  display: flex;
  width: 100%;

  .title {
    font-size: 40px;
    color: var(--black);
    font-weight: bold;
    padding: 20px;
    text-align: start;
  }

  .main {
    width: 100%;
  }

  // .listContainer {
  //   flex: 6;
  // }

}