.add {
    display: flex;
    width: 100%;
  }
  
  
  .title {
    font-size: 30px;
    color: var(--black);
    font-weight: bold;
    padding: 20px;
    text-align: start;
  }
  
  .content2 {
    display: flex;
  }
  
  .content1 {
    width: 1020px
  }
  
  .row {
    display: flex;
    flex-direction: row;
  }
  
  .form-group {
    padding: 18px;
    width: 50%;
    border-radius: 30px;
  }
  
  
  .form-group2 {
    padding: 18px;
    width: 100%;
  }
  
  label {
    text-align: start;
  }
  
  .form-control {
    height: 50px;
  }
  
  .btn1{
    margin-top: 2rem;
    height: 50px;
    width: 100px;
    background-color: var(--pink);
    margin-inline: 10px;
  
  
  }
  
  .btn2{
    height: 50px;
    width: 100px;
    background-color: var(--black);
  
  }
  
  