body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow: hidden;
}
.home {
  overflow: 'hidden';
  display: flex;
  .homeContainer {
    //background-color: #F8FAFB;
    //background-image: linear-gradient(315deg, #F8FAFB 0%, #f5f7fa 74%);
    flex: 6;

    .widgets, .charts {
      display: flex;
      padding: 20px;
      
    }

    .charts {
      padding: 10px 20px;
    }
  }
}

.tables {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.table {
  flex: 1; /* Chia không gian cho mỗi bảng */
  margin-right: 20px; /* Khoảng cách giữa hai bảng */
}