.home {
  display: flex;
  .homeContainer {
    //background-color: #F8FAFB;
    //background-image: linear-gradient(315deg, #F8FAFB 0%, #f5f7fa 74%);
    flex: 6;

    .widgets, .charts {
      display: flex;
      padding: 20px;
      gap: 20px;
    }

    .charts {
      padding: 10px 20px;
    }
  }
}