.sidebar {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-inline: 1.5rem;
  transition: all 300ms ease;
  background: linear-gradient(106.37deg, #ffe1bc 29.63%, #ffcfd1 51.55%, #f3c6f1 90.85%);
  min-height: 100vh;
  width: 35vh;
  height:100%;
}

.logo {
  display: flex;
  height: 5rem;
  font-weight: bold;
  font-size: 22px;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  height: 4%;
  padding-left: 10px;
  padding-right: 10px;
}

.logo>img {
  width: 3rem;
  height: 3rem;
}

.logo>span {
  color: var(--black)
}

.logo>span>span {
  color: var(--pink);
}

.menu {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.menuItem {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  gap: 1rem;
  height: 3rem;
  position: relative;
  transition: all 300ms ease;
  color: var(--black);
  margin-left: 2rem;
  font-size: 16px;
}

.menuItem:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.menuItem {

  &:active,
  &.active {
    background: var(--activeItem);
    margin-left: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  &:active::before,
  &.active::before {
    content: '';
    width: 8px;
    height: 100%;
    background: var(--pink);
    margin-right: calc(1rem - 8px);
    margin-left: -1rem;
  }
}



.items {
  display: flex;
  align-items: center;
  margin-top: 10rem;
  padding-bottom: 1rem;
  position: absolute;
  bottom: 0;

  .position {
    color: var(--pink);
    font-weight: "bold";
    font-size: "40px";
    text-align: center;
    align-self: center;
  }

  .item {
    align-items: center;
    padding-bottom: 2rem;

    .avatar {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}


.custom-dropdown .dropdown-toggle {
  background-color: #007bff;

}

.custom-dropdown .dropdown-item span {
  font-family: sans-serif;
  padding-left: 10px;
}

.custom-dropdown .dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  margin-left: 5px;
  width: 150px;
}

.custom-dropdown .dropdown-item.active,
.custom-dropdown .dropdown-item:active {
  background-color: var(--pink);
  color: white;
}

.custom-dropdown.show .dropdown-menu {
  border-radius: 20px;
  border: none;
  background-color: var(--glass);
}

// #root {
//   display: flex;
//   max-height: 100vh;
// }