* {

  box-sizing: border-box;
}
@media print {
  .title, .card-footer, .sidebar {
    display: none;
  }
  @page {
    size: landscape; 
  }

  body {
    font-size: 10pt;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 50%) !important;
}

.grid-subcolumn {
  border-bottom: 1px solid black;
  display: grid;
  grid-template-columns: repeat(1, 100%);
}

.grid-item-gui{
  border: 1px solid black;
  padding: 10px;
  border-top: 2px solid black;
  border-left: 2px solid black;
}
.grid-item-nhan{
  border: 1px solid black;
  padding: 10px;
  border-top: 2px solid black;
  border-right: 2px solid black;
}
.grid-item {
  border: 1px solid black;
  padding: 10px;
}
.grid-item2 {
  border: 1px solid black;
  padding: 10px;
}

p {
  text-align: start;
  margin: -3px 0px;
}

.custom-table {
  border-collapse: collapse;
  width: 100%;
  margin: 0; /* Remove any default margin */
}

.custom-table th,
.custom-table td {
  border: 1px solid black;
  padding: 1px;
}

.custom-table th {
  background-color: #f2f2f2;
}

.price-table {
  width: 100%;
  border-collapse: collapse;

}

.price-table td {
  padding: 1px;
  text-align: left;
}

.price-table td:nth-child(2) {
  text-align: right;
}


.spacer {
  margin-right: 100px; 
  fontWeight:"bold";
}
.card-footer {
  margin-bottom: 20px;
  margin-top: -20px;
}


